In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('outputs/pollution_city_comparison.csv', index=False)

TypeError: parser_f() got an unexpected keyword argument 'index'

In [3]:
df

,Unnamed: 0,city,high,low,measurement,midnight,pollutant,site,year
0,0,London,18.303353,20.640991,µg/m3,21.821169,PM10,Station_GB0620A,2016.0
1,1,London,20.652493,17.510204,µg/m3,20.070349,PM10,Station_GB0636A,2016.0
2,2,London,26.618444,21.602564,µg/m3,25.170857,PM10,Station_GB0682A,2016.0
3,3,London,NaN,NaN,µg/m3,14.319246,PM10,Station_GB0620A,2016.0
4,4,London,NaN,NaN,µg/m3,25.427636,PM10,Station_GB0682A,2016.0
...,...,...,...,...,...,...,...,...,...
987,987,Frankfurt%20am%20Main,NaN,NaN,µg/m3,46.363507,NO2,STA.DE_DEHE140,2018.0
988,988,Frankfurt%20am%20Main,NaN,NaN,µg/m3,32.906277,NO2,STA.DE_DEHE141,2018.0
989,989,Frankfurt%20am%20Main,NaN,NaN,µg/m3,NaN,NO2,STA.DE_DEHE144,2018.0
990,990,Frankfurt%20am%20Main,NaN,NaN,µg/m3,28.923761,NO2,STA.DE_DEHE145,2018.0
991,991,Frankfurt%20am%20Main,NaN,NaN,µg/m3,54.101119,NO2,STA.DE_DEHE146,2018.0

In [5]:
city_by_year = df.groupby(['city', 'measurement', 'pollutant', 'year'], as_index=False).mean()
city_by_year

,city,measurement,pollutant,year,Unnamed: 0,high,low,midnight
0,Amsterdam,ugNO2/m3,NOX as NO2,2016.0,290.0,60.265750,39.090159,49.848555
1,Amsterdam,ugNO2/m3,NOX as NO2,2017.0,301.0,55.247506,36.739689,44.948366
2,Amsterdam,ugNO2/m3,NOX as NO2,2018.0,312.0,49.058345,32.692049,40.245333
3,Amsterdam,µg/m3,NO2,2016.0,323.0,32.507951,25.643304,30.569657
4,Amsterdam,µg/m3,NO2,2017.0,334.0,31.942974,25.208391,29.391162
...,...,...,...,...,...,...,...,...
99,Paris,µg/m3,PM10,2019.0,488.5,NaN,NaN,16.087500
100,Paris,µg/m3,PM2.5,2016.0,495.5,13.790492,14.270182,15.406685
101,Paris,µg/m3,PM2.5,2017.0,501.5,12.243917,13.345243,14.917901
102,Paris,µg/m3,PM2.5,2018.0,507.5,12.730699,13.448420,14.513719
103,Paris,µg/m3,PM2.5,2019.0,513.5,NaN,NaN,11.000000